.button {
  border-radius: 5px;
  background: $--color-primary;
  text-align: center;
  padding: 10px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: $--font-weight-medium;
  font-size: $--font-size-base;
  letter-spacing: 0.4px;

  color: #ffffff;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;

  @mixin button-highligth {
    color: #414146;
    background-color: $--color-primary-light;
  }

  &:focus {
    box-shadow: 0 0 0 1px rgba(163, 162, 168, 0.6);
    
    @include button-highligth;
  }

  &:hover {   
    @include button-highligth;
  }

  &:active {
    margin: 1px 1px 0;
    box-shadow: -1px -1px 1px rgb(167, 167, 167);
  }
}

