.sign {
  position: relative;

  width: 100vw;
  height: 100vh;
  background: #fbfafd;

  .sign-form {
    background: #ffffff;
    border-radius: 6px;

    position: absolute;
    width: 407px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(10px 27px 42px rgba(168, 168, 168, 0.13));
  }

  .sign-form__card {
    z-index: -2;
    position: absolute;
    top: 0.08%;
    bottom: 0.08%;

    .sign-form__shadow {
      top: 0%;
      bottom: 0%;
      background: rgba(0, 0, 0, 0.0001);
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
      border-radius: 6px;
    }

    .sign-form__background {
      top: 0%;
      bottom: 0%;

      background: #ffffff;
      border-radius: 6px;
    }
  }
  .sign-form__header {
    margin: 0px 33px;

    .header__title {
      margin-top: 26px;
      display: block;
      text-align: center;

      font-family: Montserrat;
      font-style: normal;
      font-weight: $--font-weight-bold;
      font-size: $--font-size-title;
      line-height: 29px;
      letter-spacing: -0.428571px;

      color: $--color-primary;
    }

    .header__subtitle {
      margin: 30px 0px 0px;
      font-size: $--font-size-subtitle;
      > h4,
      span,
      p {
        margin: 8px 0px;
      }
    }
  }

  .sign-form__content {
    margin: 24px 33px 0px;

    .content__item:not(:nth-child(1)) {
      margin-top: 17px;
    }
  }

  .sign-form__footer {
    margin: 0px 33px 35px;

    .footer__item {
      margin-top: 14px;

      &.item_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > span:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &.footer_margin-top-big {
      margin-top: 40px;
    }
  }
}
